html {
  margin: 0;
  padding: 0;
  width: 100%;
}

h1 {
  font-size: 3rem;
  font-family: fantasy;
color: red;
}

h4{
  font-size: 1rem;
  text-align: center;
  font-family: cursive;
  color:white;
}

p {
  font-size: 1rem;
  text-align: center;
  font-family: cursive;
}

.wrapper {
  width: 100%;
  margin: auto;
 }

 hr {
   border-style: ridge;
   border-width: medium;
   -webkit-animation-name:myLine;
   -webkit-animation-duration: 2s;
   -webkit-animation-iteration-count:10;
  animation-name:myLine;
  animation-duration: 2s;
  animation-iteration-count: 10;
 }

 @keyframes myLine {
     0%   {color: #FF530D;}
     25%  {color: orange;}
     50%  {color: red;}
     75%  {color:purple;}
     100% {border: 5px solid #FF530D;}
 }

 @-webkit-keyframes{
   0%   {color: #FF530D;}
   25%  {color: blue;}
   50%  {color: red;}
   75%  {color:purple;}
   100% {border: 3px solid blue;}
 }

.container {
  float: left;
  padding-left: 10px;
}

.outerBox {
  width: 200px;
  height: 200px;
  border: 5px solid #FF530D;
  position: relative;
    -webkit-animation-name: outer; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: outer;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

/*Regular syntax */
@keyframes outer {
    0%   {border: 5px solid #FF530D;}
    25%  {border: 5px solid blue;}
    50%  {border: 5px solid red;}
    75%  {border: 5px solid purple;}
    100% {border: 5px solid blue;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes outer {
  0%   {border: 5px solid #FF530D;}
  25%  {border: 5px solid blue;}
  50%  {border: 5px solid red;}
  75%  {border: 5px solid purple;}
  100% {border: 5px solid blue;}
}

.insideBox1 {
  width: 190x;
  height: 190px;
  border: 5px solid #E80C7A;
  position: relative;
    -webkit-animation-name: box1; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: box1;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

/*Regular syntax */
@keyframes box1 {
    0%   {border: 5px solid #E80C7A;}
    25%  {border: 5px solid green;}
    50%  {border: 5px solid coral;}
    75%  {border: 5px solid brown;}
    100% {border: 5px solid orange;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes box1 {
  0%   {border: 5px solid #E80C7A;}
  25%  {border: 5px solid green;}
  50%  {border: 5px solid coral;}
  75%  {border: 5px solid brown;}
  100% {border: 5px solid orange;}
}

.insideBox2 {
  width: 180px;
  height: 180px;
  border: 5px solid #FF0000;
  position: relative;
    -webkit-animation-name: box2; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: box2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/*Regular syntax */
@keyframes box2 {
    0%   {border: 5px solid #FF0000;}
    25%  {border: 5px solid grey;}
    50%  {border: 5px solid purple;}
    75%  {border: 5px solid orange;}
    100% {border: 5px solid brown;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes box2 {
  0%   {border: 5px solid #FF0000;}
  25%  {border: 5px solid grey;}
  50%  {border: 5px solid purple;}
  75%  {border: 5px solid orange;}
  100% {border: 5px solid brown;}
}

.insideBox3 {
  width: 170px;
  height: 170px;
  border: 5px solid #FFB80D;
  position: relative;
    -webkit-animation-name: box3; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 6s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: box3;
    animation-duration: 6s;
    animation-iteration-count: infinite;
}
/*Regular syntax */
@keyframes box3 {
    0%   {border: 5px solid #FFB80D;}
    25%  {border: 5px solid orange;}
    50%  {border: 5px solid green;}
    75%  {border: 5px solid pink;}
    100% {border: 5px solid white;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes box3 {
  0%   {border: 5px solid #FF0000;}
  25%  {border: 5px solid orange;}
  50%  {border: 5px solid green;}
  75%  {border: 5px solid pink;}
  100% {border: 5px solid white;}
}

.insideBox4 {
  width: 160px;
  height: 160px;
  border: 5px solid #290DFF;
  position: relative;
    -webkit-animation-name: box4; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 7s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: box4;
    animation-duration: 7s;
    animation-iteration-count: infinite;
}
/*Regular syntax */
@keyframes box4 {
    0%   {border: 5px solid #290DFF;}
    25%  {border: 5px solid red;}
    50%  {border: 5px solid yellow;}
    75%  {border: 5px solid purple;}
    100% {border: 5px solid black;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes box4 {
  0%   {border: 5px solid #FF0000;}
  25%  {border: 5px solid red;}
  50%  {border: 5px solid yellow;}
  75%  {border: 5px solid purple;}
  100% {border: 5px solid black;}
}

.insideBox5 {
  width: 150px;
  height: 150px;
  border: 5px solid #ccd26a;
  position: relative;
    -webkit-animation-name: box5; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 8s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: box5;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
/*Regular syntax */
@keyframes box5 {
    0%   {border: 5px solid #ccd26a;}
    25%  {border: 5px solid #e7e9c7;}
    50%  {border: 5px solid #585b23;}
    75%  {border: 5px solid #1a1b0a;}
    100% {border: 5px solid black;}
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes box5 {
  0%   {border: 5px solid #ccd26a;}
  25%  {border: 5px solid #e7e9c7;}
  50%  {border: 5px solid #585b23;}
  75%  {border: 5px solid #1a1b0a;}
  100% {border: 5px solid black;}
}


.anotherSetBox {
  width: 200px;
  height: 200px;
  float: right;
  display: inline-block;
  border-bottom: 2px;
  border-color: purple;
  border-style: dotted;
  position:relative;
  -webkit-animation-name: myDot; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 5s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-direction: alternate-reverse;
  animation: myDot;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes myDot {
    0%   {border-bottom: red; left: 0px; top: 0px;}
    25%  {border-left: yellow; left: 175px; top: 0px;}
    50%  {border-top:  blue; left: 200px; top: 175px;}
    75%  {border-right: green; left: 150px; top: 200px;}
    100% {border-bottom: red; left: 150px; top: 0px;}
}

@-webkit-keyframes myDot {
    0%   {border-bottom: red; left: 0px; top: 0px;}
    25%  {border-left: yellow; left: 200px; top: 0px;}
    50%  {border-top:  blue; left: 200px; top: 200px;}
    75%  {border-right: green; left: 0px; top: 200px;}
    100% {border-bottom: red; left: 0px; top: 0px;}
}

img {
  width: 300px;
  border-radius:50%;
  border-color: yellow;
  padding-left: 250px;
  -webkit-transition: width 3s; /* Safari */
   transition: width 3s;
   -webkit-transition-timing-function: ease-in-out;
   transition-timing-function: ease-in-out;
}

img:hover {
  opacity: 0.5;
}

.circle{
  width: 100px;
  height:100px;
  border: 4px solid green;
  padding: 20px;
  padding-top: 100px;
  border-radius: 50px;
  background-image: url('banane.jpg');
background-repeat: no-repeat;
background-size: cover;
-webkit-transition: width 3s; /* Safari */
    transition: width 3s;
transition-timing-function: ease-in-out;
}

.circle:hover{
  width: 250px;
}



h1, p{
  font-family: fantasy;
  color: red;
  position: relative;
  -webkit-animation-name: changeHeading; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite;
  animation: changeHeading;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  }

  /*Regular syntax */
  @keyframes changeHeading {
      0%   {color: #B21212;}
      25%  {color: #B22D12;}
      50%  {color:#ADFF19;}
      75%  {color:#FF5200;}
      100% {color:#141BCC;}
  }

  /* Safari 4.0 - 8.0 */
  @-webkit-keyframes changeHeading {
    0%   {color: #B21212;}
    25%  {color: #B22D12;}
    50%  {color:#ADFF19;}
    75%  {color:#FF5200;}
    100% {{color:#141BCC;}
  }
